DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True

DB_NAME=railway
DB_USER=root
DB_PASSWORD=your-db-password
DB_HOST=kodama.proxy.rlwy.net
DB_PORT=41539

RAZORPAY_KEY_ID=your-razorpay-key-id
RAZORPAY_KEY_SECRET=your-razorpay-key-secret